

body{
	background-color:#333;
	font-size: 1.3em;
	padding:30px;
	font-family: sans-serif;
}

#input{
	width:100%;
	height:50px;
	background-color:#222;
	color:aliceblue;
	font-size: 1.5em;
	font-family: monospace;
}

.green_outline{
	border: 1px solid seagreen;
	padding:10px;
	color:darkseagreen;
	margin-top: 20px;
}

#intermediate{
	margin:0px;
}
#intermediate_wrapper{
	
	max-height: 400px;
	overflow-y: scroll;
}

#output{
	
}

.fname{
	font-weight: bold;
	color:#4db04d;
}
.fnum{
	font-weight: bold;
	color: lightseagreen;
}
.fsym{
	font-weight: bold;
	color: lightcoral;
}

.print_tree_error{
	font-weight: bold;
	font-style: italic;
	color: lightsalmon;
}